.newsList .up_ymd{
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  color: #999;
  padding: 0 20px 0 0;
}
.newsList .category{
  margin: 0;
  min-width: 140px;
  padding: 0 20px 0 0;
}
.newsList .category span{
  background: #999;
  color: #FFF;
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1;
}
.newsList .title{
  margin: 0;
  width: 100%;
}
.newsList a:hover .title{
  color: #00F;
}

