/* ヘッダーのデザイン */
header.title {
  position: relative;
  text-align: center;
  color: white;
  background-size: contain;
  height: 30vh; /* 画面の60%の高さ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  header.title {
    height: 40vh; /* スマホでは少し小さく */
  }
}



header.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 102, 0.801); /* 黒の半透明オーバーレイ */
}

header.title h1,
header.title p {
  position: relative;
  z-index: 2;
  margin: 0;
}

header.title h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header.title p {
  font-size: 1.2rem;
  opacity: 0.8;
}

/* フッターのデザイン */
footer {
  background: #222;
  color: #ddd;
  padding: 20px 0;
  text-align: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.8;
}
